@page
@model PsyWagonLestes.Pages.ItemsPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавление товара</h1>

<h4>Расходные материалы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Brand" class="control-label"></label>
                <input asp-for="Item.Brand" class="form-control" />
                <span asp-validation-for="Item.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Count" class="control-label"></label>
                <input asp-for="Item.Count" class="form-control" />
                <span asp-validation-for="Item.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Price" class="control-label"></label>
                <input asp-for="Item.Price" class="form-control" />
                <span asp-validation-for="Item.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
