@import url(../fonts/MontserratAlternates/MontserratAlternates-Black.ttf);

* {
    margin: 0;
    box-sizing: border-box;
}
/*'Montserrat Alternates'*/
body {
    background: #6c6c6ba3;
    color: #080515;
    font-family: "Montserrat Alternates", sans-serif;
}

.post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-item {
    padding: 15px;
    cursor: pointer;
}

    .post-item * {
        transition: .3s linear;
    }

.item-content {
    background: #2d2d30;
    padding: 40px;
}

.item-icon {
    margin-bottom: 20px;
}

    .item-icon:before {
        content: "";
        font-family: FontAwesome;
        color: #fffa00;
        font-size: 50px;
        line-height: 1;
    }

    .item-icon.car:before {
        content: "\f1b9";
    }

    .item-icon.rent:before {
        content: "\f0d6";
    }

    .item-icon.items:before {
        content: "\f00a";
    }

    .item-icon.acess:before {
        content: "\f07a";
    }

    .item-icon.wheel:before {
        content: "\f10c";
    }

    .item-icon.mail:before {
        content: "\f0e0";
    }

.post-item:hover .item-icon, .post-item:hover .item-body h3, .post-item:hover .item-body p {
    transform: translateY(-8px);
}

.item-body {
    color: #808080;
    font-size: 14px;
}

    .item-body h3 {
        font-weight: 500;
        margin-bottom: 15px;
        transition-delay: .05s;
    }

    .item-body p {
        transition-delay: .1s;
    }

.item-footer {
    padding-top: 15px;
}

.link {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-right: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fffa00;
}

    .link:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        height: .125rem;
        margin: auto;
        background: #fffa00;
        transform: scaleX(.2);
        transform-origin: left center;
        z-index: 0;
        transition: .6s cubic-bezier(.6, .01, 0, 1);
    }

    .link span {
        display: inline-block;
        position: relative;
        transform: translateX(-200%);
        transition: .6s cubic-bezier(.6, .01, 0, 1);
    }

.post-item:hover .link span {
    transform: translateX(0%);
}

.post-item:hover .link:before {
    transform-origin: right center;
}

@media (min-width: 768px) {
    .post-item {
        flex-basis: 50%;
        flex-shrink: 0;
    }
}

@media (min-width: 960px) {
    .post-item {
        flex-basis: 33.333333333%;
    }
}