@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/MainIndex.css">



    <div class="post-wrap">
          <div class="post-item">
       
          
        <div class="item-content">
            <div class="item-icon group"></div>
            <div class="item-body">
                <h3>Машины</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
            </div>
            <div class="item-footer">
                <a href="/Cars/Index" class="link"><span>Подробнее</span></a>
            </div>
        </div>
    </div>
    
    



    <div class="post-item">
        <div class="item-content">
            <div class="item-icon tree"></div>
            <div class="item-body">
                <h3>Запчасти</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>Подробнее</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div class="item-icon anchor"></div>
            <div class="item-body">
                <h3>Расходники</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>Подробнее</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div class="item-icon video"></div>
            <div class="item-body">
                <h3>Аксессуары</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>Подробнее</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div class="item-icon photo"></div>
            <div class="item-body">
                <h3>Диски</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>Подробнее</span></a>
            </div>
        </div>
    </div>

    <div class="post-item">
        <div class="item-content">
            <div class="item-icon gift"></div>
            <div class="item-body">
                <h3>Шины</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
            </div>
            <div class="item-footer">
                <a href="#" class="link"><span>Подробнее</span></a>
            </div>
        </div>
    </div>
</div>